layout_uv() {
  VIRTUAL_ENV="$PWD/.venv"
  export UV_PROJECT_ENVIRONMENT="$VIRTUAL_ENV"
  if [[ ! -d "$VIRTUAL_ENV" ]]; then
    uv venv --quiet
  fi
  uv sync --quiet
  export VIRTUAL_ENV
  PATH_add "$VIRTUAL_ENV/bin"
}

layout_uv
dotenv
